body {
    background-color:#FFFFFF
}
p {
    font-size: 1,5em;
    color:#000000;
    font-family: "Arial"
}
section {
    background-color: #610B4B;
    width: 1000px
}
article {
    background-color: #FA58AC;
    width: 1000px
}
img {
    height: 50%;
    width: 50%;
    border: 1px solid #000000;
    border-radius: 90%
}
h2 {
    color: #FFFFFF;
    font-family: "Verdanan"
}
h1 {
    color: #610B4B;
    font-family: "Arial"
}