body {
    background-color:#FFFFFF
}
p {
    font-size: 1,5em;
    color:#FFFFFF;
    font-family: "Arial"
}
section {
    background-color: #610B4B;
    width: 800px
}
article {
    background-color: #FA58AC;
    width: 800px
}
img {
    height: 50%;
    width: 50%;
    border: 1px solid #000000;
    border-radius: 90%
}