
body{
    background-color: #FFFFFF;
    clear:left;
    margin: 5px;
}
header{
    width: 100%;
}
.header {
    background-color: #ccccb3;
    padding: 20px;
    text-align: center;
    font-family: Impact;
    font-size: 80pt;
    text-shadow: 3px 1px #FFFFFF;
}

/*Navigation*/
nav{
    float: left;
    margin-top: -2%;
    height: 2.8em;
    overflow: hidden;
    transition: linear 0.2s;
}
nav:hover{
    height: 12em;
}
nav ul {
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    margin-top: -2%;
    height: 3em;
    overflow: absolute;
    transition: linear;
}
nav li:hover{
    border-color: #c56dab;
}
nav li{
    display:inline;
    padding: 2em;
    overflow: hidden;
}
div{
    width: 25px;
    height: 5px;
    background-color: #333;
    margin-bottom: 5px;
}
#burger{
    font-size:3em;
    line-height: 1.1;
    display: block;
    letter-spacing: -.03333em;
    width: 25px;
    transition: transform 0.8s;
}
#burger:hover{
  transform: rotate(90deg);
}
.menü{
    background-color: #333;
    width: 10em;
    margin-bottom: 0.2em;
    font-size: 2em;
    line-height: 1.1;
    display: block;
    letter-spacing: -.03333em;
    padding: .25em 0 0 10px;
    border-left: 10px solid #f0ffff;
}

/* Aside*/

.Aside{
    width: 20%;
    margin-right: 20%;
    position: relative;
    font-family:"Arial";
    margin: 1%;
}
.Aside2{
    margin-top: 1em;
    width: 18%;
    margin-right: 20%;
    position: absolute;
    font-family: "Arial";
    float:left;
    border: 5px solid black;
    margin: 1%;
    text-align: left;
}
.Aside2:hover{
    position: absolute;
    width: 50%;
    background-color: #333;
    color:#FFFFFF;
    font-family: "Arial"; 
    text-align: left;
}

/*Main & CC*/

main {
    width: 60%;
    margin-left: 24%;
    margin-right: 10%;
    background-color: #FFFFFF;
    float:left;
    border: 5px solid black;
    margin-top: 13px;
}
section{
    width: 20%;
    float: left;
    margin: 1%;
    overflow: auto;
    background-color:#ccccb3;
    border-style: double;
    border-width: 10px;
    border-color: #FFFFFF;
}

/*Text*/

article {
    background-color: #ccccb3;
    width: 90%;
    font-family: "Arial";
    float: left;
    color: #FFFFFF;
    overflow: auto;
    margin-left: 5%;
}

/* Überschrifften*/

h4 {
    color: #333;
    font-family: "Arial"
}
h2{
    color: #333;
    font-family: "Arial";
    font-size: 20pt;
}
li h2{
    color: #FFFFFF;
    opacity: 1;
}
h1 {
    color:  #333;
    font-family: "Impact"
}
h3{
    color: #333;
    font-family:"Arial";
    margin-left: 5%;
}

/* Footer*/

.footer {
    padding: 30px;
    text-align: center;
    font-family:"Arial";
    background: #ccccb3;
    margin-top: 90em;
    margin-right: 10px;
}
