body{
    background-color: #FFFFFF;
}
.header {
    background-color: #ccccb3;
    padding: 20px;
    text-align: center;
    font-family: Impact;
    font-size: 40pt;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
nav ul {
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    list-style-type: none;
}
nav li{
    display:inline;
    padding: 2em;
}
.Aside{
    width: 20%;
    margin-right: 20%;
    position: relative;
    font-family:"Arial";
    margin: 1%;
    float: clear;
}
.Aside2{
    margin-top: 1em;
    width: 18%;
    margin-right: 20%;
    position: absolute;
    font-family: "Arial";
    float:left;
    border: 5px solid black;
    margin: 1%;
}
.Aside2:hover{
    position: absolute;
    width: 50%;
    background-color: #333;
    color:#FFFFFF;
    font-family: "Arial"; 
    text-align: left;
}
main {
    width: 60%;
    margin-left: 24%;
    margin-right: 10%;
    background-color: #FFFFFF;
    float:left;
    border: 5px solid black;
}
section{
    width: 20%;
    float: left;
    margin: 1%;
    overflow: auto;
    background-color:#ccccb3;
    border-style: double;
    border-width: 10px;
    border-color: #FFFFFF;
}
article {
    background-color: #ccccb3;
    width: 90%;
    font-family: "Arial";
    float: left;
    color: #FFFFFF;
    overflow: auto;
    margin-left: 5%;
}
h4 {
    color: #333;
    font-family: "Arial"
}
h2{
    color: #333;
    font-family: "Arial";
    font-size: 20pt;
}
h1 {
    color:  #333;
    font-family: "Impact"
}
h3{
    color: #333;
    font-family:"Arial";
    margin-left: 5%;
}
.footer {
    padding: 20px;
    text-align: center;
    font-family:"Arial";
    background: #ccccb3;
    margin-top: 110em;
}